<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>

<body>
    <h1>Invoice {{title}}</h1>
    <p>Nama: {{name}}</p>
    <!-- <p>Title: {{title}}</p> -->
    <p>Tanggal Invoice: {{invoiceDate}}</p>
    <p>Status Pembayaran: {{paymentStatus}}</p>
    <p>Total: {{total}}</p>
    {% if linkUpdateCaraBayar %}
    <form method="POST" action="{{linkUpdateCaraBayar}}">
        <label>Cara Bayar:</label>
        <select id="cara-bayar" name="caraBayar">
            <option value="metode-a">Metode A</option>
            <option value="metode-b">Metode B</option>
            <option value="metode-c">Metode C</option>
            <option value="metode-d">Metode D</option>
            <option value="metode-e">Metode E</option>
        </select>
        <input type="submit" value="submit">
    </form>
    {%else %}
    <p>Cara Bayar: {{paymentMethod}}</p>
    {% endif %}
    <!-- <form method="POST" action="{{linkUpdateCaraBayar}}">
        <label>Cara Bayar:</label>
        <select id="cara-bayar" name="caraBayar">
            <option value="metode-a">Metode A</option>
            <option value="metode-b">Metode B</option>
            <option value="metode-c">Metode C</option>
            <option value="metode-d">Metode D</option>
            <option value="metode-e">Metode E</option>
        </select>
        <input type="submit" value="submit">
    </form> -->
</body>

</html>