<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Checkout Cetak Kartu</h1>
    <p>Jumlah: {{pesanan["jumlah"]}}</p>
    <p>Total: {{pesanan["total"]}}</p>
    <p>Tanggal: {{pesanan["createTime"]}}</p>
    <p>Siswa: </p>
    <!-- <ul>
        {% for member in pesanan["members"] %}
        <li>{{member["name"]}}</li>
        {% endfor %}
    </ul> -->
    <table>
        <tr>
            <th>id</th>
            <th>nama</th>
        </tr>
        {% for member in pesanan["members"] %}
        <tr>
            <td>{{member["id"]}}</td>
            <td>{{member["name"]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>