<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isi Parameter Dokumen</title>
</head>

<body>
    <h1>{{title}}</h1>
    <form id="form-parameters" method="POST" action="{{linkIsiParameter}}">
        {% for param in docSettingParameters %}
        <div style="margin: 10px 0">
            <label style="min-width: 200px;display:inline-block">{{param}}</label>
            <input type="text" name="{{param}}" value="{{documentParameters[param]}}">
        </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    <script>
        async function handleSubmit(event) {
            event.preventDefault();
            const data = new FormData(event.target);
            const form = Object.fromEntries(data.entries());

            parameterDatas = []
            for (const key in form) {
                parameterData = {
                    "key": key,
                    "value": form[key]
                }
                parameterDatas.push(parameterData);
            }

            var response = await fetch('{{linkIsiParameter}}', {
                method: 'POST',
                headers: {
                    // 'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(parameterDatas)
            });
            response = await response.json();
            // console.log("response", response)
            window.location.replace(response["url"]);
        }
        form = document.getElementById("form-parameters")
        form.addEventListener('submit', handleSubmit);
    </script>
</body>

</html>