<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Pilih Member Untuk Cetak Kartu</h1>
    <form method="POST">
        <table>
            <tr>
                <th>id</th>
                <th>nama</th>
                <th>
                    <input type="checkbox" id="other" value="all" name="other">
                </th>
            </tr>
            {% for member in members %}
            <tr>
                <td>{{member["_id"]}}</td>
                <td>{{member["name"]}}</td>
                <td>
                    <input type="checkbox" name="members" value="{{member['_id']}}-{{member['name']}}">
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>
</body>

</html>